<?php
$self = $this;
$navbar = $self->navbar;
$position = $self->position != "" ? sprintf(' %s', $self->position) : "";
$inverse = $self->inverse ? "navbar-inverse" : "navbar-default";
$container = $self->fluid ? "container-fluid" : "container";
$brand = $self->brand;
$target = uniqid();
?>
<nav class="navbar <?php echo $inverse; ?><?php echo $position; ?>">
    <div class="<?php echo $container; ?>">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle"
                data-toggle="collapse" data-target="#<?php echo $target; ?>">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <?php if ($brand != "") : ?>
            <span class="navbar-brand"><?php echo $brand; ?></span>
            <?php endif; ?>
        </div>
        <div id="<?php echo $target; ?>" class="navbar-collapse collapse">
            <?php echo $navbar; ?>
        </div>
    </div>
</nav>
